.container{
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}
table{
    margin: auto;
}

input{
    width: 348px; 
    font-size: 26px;
    height: 43px;
    padding: 4px;
    padding-left: 9px;
    background: #000;
    border:1px solid #000;
    color: rgb(255, 255, 255);   
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
}


button{
    height: 54px;
    width: 78px;
    margin: 4px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 106px;
    border: none;
    background-color: rgb(61, 52, 52);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
button:hover{ 
    background-color: rgb(105, 96, 96);
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
}
.calculator{
    display: inline-block;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 6px;
}

.diffColor{
    background-color: rgb(255 84 23);
}
.diffColor:hover{
    background-color:rgb(252 109 57 / 91%) ;
}
