.container{
    width: 50%;
    margin: 3rem auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
th, td {
    padding: 15px;
    text-align: left;
}
tr{
    background-color: rgb(204, 7, 7);
    cursor: pointer;
}
.changebg{
    background-color: #b356d8;
}